annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
attrs==23.2.0
Brotli==1.1.0
build==1.2.2
CacheControl==0.14.0
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-default-group==1.2.4
cloup==2.1.2
contourpy==1.2.0
crashtest==0.4.1
cycler==0.12.1
Cython==3.0.6
decorator==5.1.1
distlib==0.3.8
dulwich==0.21.7
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.114.2
fastjsonschema==2.20.0
filelock==3.16.0
fonttools==4.47.0
glcontext==2.5.0
h11==0.14.0
idna==3.6
importlib_metadata==8.5.0
installer==0.7.0
ipdb==0.13.13
ipython==8.19.0
isodate==0.6.1
isosurfaces==0.1.0
jaraco.classes==3.4.0
jedi==0.19.1
keyring==24.3.1
kiwisolver==1.4.5
lxml==5.2.2
manim==0.18.0
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
moderngl==5.9.0
moderngl-window==2.4.4
more-itertools==10.5.0
msgpack==1.1.0
multipledispatch==1.0.0
mutagen==1.47.0
mypy==1.7.1
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.2
onvif-zeep==0.2.12
opencv-python==4.9.0.80
packaging==23.2
parso==0.8.3
pexpect==4.9.0
Pillow==9.5.0
pkginfo==1.11.1
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.25.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.9.1
pydantic_core==2.23.3
pydub==0.25.1
pyglet==2.0.10
Pygments==2.17.2
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyparsing==3.1.1
pyproject_hooks==1.1.0
pyrr==0.10.3
pytesseract==0.3.13
python-dateutil==2.8.2
pytz==2024.1
rapidfuzz==3.9.7
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.7.0
scipy==1.11.4
screeninfo==0.8.1
shellingham==1.5.4
six==1.16.0
skia-pathops==0.7.4
sniffio==1.3.1
srt==3.5.3
stack-data==0.6.3
starlette==0.38.5
svgelements==1.9.6
tomli==2.0.1
tomlkit==0.13.2
tqdm==4.66.1
traitlets==5.14.0
trove-classifiers==2024.9.12
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.30.6
virtualenv==20.26.4
watchdog==3.0.0
wcwidth==0.2.12
websockets==13.0.1
xattr==1.1.0
youtube-dl==2021.12.17
yt-dlp==2024.8.6
zeep==4.2.1
zipp==3.20.2
